#!/usr/bin/expect

set timeout -1;
spawn {{ android_executable }} update sdk --all -u -t "{{ (android_sdk_tools_to_install + android_sdks_to_install) | join(',') }}";
expect {
    "Do you accept the license" { exp_send "y\r" ; exp_continue }
    eof
}
